name: Checking Broken Links

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run link checker
        uses: lycheeverse/lychee-action@v1
        with:
          args: --verbose --no-progress "README.md" "index.html"
